.container {
    width: 300px;
    height: 150px;
    border: 1px solid gray;
    box-shadow: 0px 10px 2px 0px rgba(0, 0, 0, 0.105);
    background-color: black;
    border-radius: 10px;
margin: auto;
transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover {
    background-color: rgb(58, 133, 237);
}